body {
    display: flexbox;
    /* flex-wrap: wrap; */
    width: auto;
    height: auto;
    align-content:center ;
    justify-content: center;
    padding: 5px 10px;
background-color: rgb(244, 219, 188);
    /* background-image: url("pictures/plate02a.jpg");
    background-size: 100%;
    background-position-y: top;
    background-position-x: left;
    background-repeat: no-repeat; */
    font-family: "Alfa Slab One", serif;
    font-size: 1rem;
    font-weight:800;
    font-style: normal;
}

/* #background{
    opacity: 20%;
} */

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding: 5px 0;
    align-items: center;
}

h1{
    font-family: "Alfa Slab One", serif;
    font-weight: 800;
    font-size: 3rem;

    font-style:normal
}
nav,
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.8rem;    
    height: 30px;
    padding: 3px 0;
}
main{
    display: flex;
    height: 500px;
    justify-content: space-around;
    padding: 10px;
}

#info,
#sound,
#music{
    border-radius: 25px;

}

#avatar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 8%;
    height: 100%;
    padding: 5px 0;
}
#win{
    display: flex;
    width: 100%;
    height:15%
}
#winpic
{
    display: none;
    width: 120%; 
    height:max-content;
    align-items: flex-end;
}
#playersAva{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
    width: 100%;
    height:80%
}

.foods,
.avatar,
#burger,
#fries,
#pizza,
#hotdog
{
    width: 50px;   
    height:min- auto;
    justify-items: center;
    align-self: center;
}



#board{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;
    height: 100%;
    padding: 5px 0;
}

#boardEasy{
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 60%;
    height: 100%;
    padding: 5px 0;
}

#boardMed{
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 60%;
    height: 100%;
    padding: 5px 0;
}

#boardHard{
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 60%;
    height: 100%;
    padding: 5px 0;
}

.row1,
.row3,
.row5,
.row7,
.row9{ 
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    height:16.67%;
    align-items: center;
}

.row2,
.row4,
.row6,
.row8,
.row10{ 
    display:flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    width: 100%;
    height: 16.67%;
    align-items: center;
}

.square
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    border: 1px solid gray;
    border-radius: 25px;


}

#message{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:space-between;
    /* align-items: flex-end; */
    width: 20%;
    height:100%;
    padding: 5px 0;
}

#player {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: center;  
    justify-items: center;  
    align-items: center;  

    align-content: center;  

    width:100%;
    height: 50%;
    padding: 5px 0;
    field-sizing: content;
}

#playerinfo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width:100%;
    height: 60%;
    justify-items: center; 
    align-items: center;

    align-content: center;
    padding: 3px 5px;

}
#playername {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    /* height: 10px; */
    width: 50%;
    /* padding: 3px 5px; */
}

#playersubmit {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
    width: fit-content;
    height: fit-content;
    padding: 3px 3px;
    /* align-items: flex-end;
    justify-items: flex-end; */

}

#chooseAvatar
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* text-align: end; */
    width: 100%;   
    height: fit-content;
    width: fit-content;
    padding: 5px 5px;
    justify-content: center;
    text-align: center;
}

#pBurger,
#pFries,
#pPizza,
#pHotdog{
    flex-direction: row;
    align-items: center;
}

.captions{
font-size: 0.7rem;
height: 15px
}

#chsfries,
#chsburger
{
    display: inline-block;
    position: relative;
    flex-direction: row;
    width: 50px;   
    height: auto;
}
#chspizza,
#chshotdog
{
    /* display: inline-block; */
    position: relative;
    flex-direction: row;
    width: 50px;   
    height: auto;
}
#messagesplace
{
    display: flex;
    flex-wrap: wrap;
    border: 3px solid beige;    
    flex-direction: row;
    align-self: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 5px 5px;
    width: 80%;   
    height: fit-content;
}

#rollresult
{
    display: flex;
    width: 100%;   
    height: 30%;
    flex-direction: column;
    justify-content: flex-end;
    field-sizing: content;
}

#diceresult{
    width: 100px;
    height: auto;
    align-self: center;
    align-content: center;
    text-align: center;
    padding: 5px 5px;
}

#dice{
    width: fit-content;
    padding: 5px 5px;
    align-self: center;

}


body .cover{
    display: flexbox;
    /* flex-wrap: wrap; */
    width: 100%;
    height: auto;
    align-content:center ;
    align-items: center ;
    justify-items:  center;
    justify-content: center;
    text-align: center;
    padding: 5px 10px;
background-color: rgb(244, 219, 188);
    /* background-image: url("pictures/plate02a.jpg");
    background-size: 100%;
    background-position-y: top;
    background-position-x: left;
    background-repeat: no-repeat; */
    font-family: "Alfa Slab One", serif;
    font-size: 1rem;
    font-weight:800;
    font-style: normal;
}
#head{
    font-family: "Alfa Slab One", serif;
    font-weight: 800;
    font-size: 3rem;
    align-content:center ;
    align-items: center ;
    justify-items:  center;
    justify-content: center;
text-align: center;
    font-style:normal
}
.players{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-content:center ;
    align-items: center ;
    justify-items:  center;
    justify-content: center;
text-align: center;
    width: 50%;   
    height: 30%;
}
.player3{
    display: none;
}
.player4{
    display: none;
}
#coverStart{

    align-content:center ;
    align-items: center ;
    justify-items:  center;
    justify-content: center;
    text-align: center;
    margin: 30px;
    padding: 5px 5px;

}
#coverPage{
    display:flex;
}
#boardBody{
    display:none;
    /* flex-wrap: wrap; */
    width: auto;
    height: auto;
    align-content:center ;
    justify-content: center;
    padding: 5px 10px;
background-color: rgb(244, 219, 188);
    /* background-image: url("pictures/plate02a.jpg");
    background-size: 100%;
    background-position-y: top;
    background-position-x: left;
    background-repeat: no-repeat; */
    font-family: "Alfa Slab One", serif;
    font-size: 1rem;
    font-weight:800;
    font-style: normal;

}