body {
    display: flexbox;
    /* flex-wrap: wrap; */
    width: 100%;
    height: 100%;
    padding: 5px 10px;

}

#background{
    image-rendering: auto;
    background-size: 100%;
}
header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 5px 0;
    align-items: center;
}
nav {
    display: flex;
    justify-content: space-between;
    height: 30px;
    padding: 5px 0;
}
main{
    display: flex;
    height: 500px;
    justify-content: center;
    padding: 15px 0;
}

#avatar{
    display: inline-block;
    justify-content: space-between;
    width: 10%;
    height: 100%;
    padding: 5px 0;
}
#win{
    display: flex;
    width: 100%;
    height:15%
}
#winpic
{
    display: flex;
    width: 100%; 
    height:max-content  ;
    align-items: flex-start;
}
#playersAva{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    align-items: center;
    width: 100%;
    height:80%
}
#burger,
#fries
{
    width: 50px;   
    height:min- auto;
    justify-items: center;
    /* align-items: flex-end; */
    /* align-content: flex-end; */
    align-self: center;
}

#board{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 60%;
    aspect-ratio: 1/1;
    padding: 5px 0;
}

.row1,
.row3,
.row5{ 
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    height: 16.67%;
    align-items: center;
}

.row2,
.row4,
.row6{ 
    display:flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    width: 100%;
    height: 16.67%;
    align-items: center;
}

.square
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    border: 1px solid beige;

}

#message{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:space-between;
    /* align-items: flex-end; */
    width: 30%;
    height:100%;
    padding: 5px 0;
}

#player {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    width:100%;
    height: 40%;
    padding: 5px 0;
    field-sizing: content;
}
#playername {
    display: flex;
    /* align-self: flex-end; */
    /* width:fit-content; */
    height: 15%;

    width: fit-content;
    padding: 5px 5px;
    align-self: center;
}

#playersubmit {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    /* align-self: flex-end; */
    position: relative;
    width: fit-content;
    padding: 5px 5px;
    align-self: center;
}

#chooseAvatar
{
    /* text-align: end; */
    width: 100%;   
    height: auto;
    width: fit-content;
    padding: 5px 5px;
    align-self: center;
}

#chsfries,
#chsburger
{
    display: inline-block;
    position: relative;
    flex-direction: row;
    width: 50px;   
    height: auto;
}

#chsfries,
#chsburger
{
    display: inline-block;
    position: relative;
    flex-direction: row;
    width: 50px;   
    height: auto;
}

#rollresult
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;   
    height: 40%;
    flex-direction: column;
    justify-content: flex-end;
    field-sizing: content;

    
}
#dice{
    width: fit-content;
    padding: 5px 5px;
    align-self: center;

}


